<h3>Editar Comentario:</h3>

<%= form_with(model: [@post, @comment], local: true) do |form|  %>

  <%= form.label :content  %>
  <%= form.text_area :content %> <br>
  <%= form.submit 'Comentar' %>

  <% end %>
